.page {
  color: var(--text-second-color);
}
/* 
---------------------------------------------------------------
                    Стили для блока header
---------------------------------------------------------------
*/

/* Общие стили для блока header */

.header {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.header__navigation-block {
  display: flex;
  padding-block-start: 33px;
  padding-inline-start: clamp(4.688rem, 18.029vw - 6.851rem, 9.375rem);
  padding-inline-end: clamp(4.688rem, 18.029vw - 6.851rem, 9.375rem);
  line-height: 21px;
  color: var(--text-second-color);
  text-transform: uppercase;
}

.header__button:hover {
  color: var(--accent-color);
  opacity: 0.5;
}

.header__list-about {
  display: flex;
  gap: 1.575rem;
  font-size: 18px;
}

.header__list-about-item-buttom {
  text-transform: uppercase;
}

.header__list-about-item-buttom:hover {
  color: var(--accent-color);
  box-shadow: var(--box-shadow);
  opacity: 0.5;
}

.header__list-about-item-buttom:active {
  opacity: 0.7;
}

.header__title {
  text-align: center;
  font-size: 50px;
  letter-spacing: 4px;
}

.header__list-of-tools {
  display: flex;
  gap: 27px;
}

.header__list-of-tools-item-button {
  display: flex;
  line-height: 21px;
  font-size: 18px;
  text-transform: uppercase;
}

.header__list-of-things {
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.header__list-of-things-item {
  display: flex;
  flex-direction: row;
}

.header__list-of-things-item:hover {
  cursor: pointer;
  color: var(--accent-color);
  box-shadow: var(--box-shadow);
  opacity: 0.5;
}

.header__element:nth-child(2) {
  padding-inline-start: 9%;
  /* padding-inline-start: 6.625rem; */
}

.header__element:nth-child(3) {
  padding-inline-start: 11%;
  /* padding-inline-start: 7.7rem; */
}

.header__element:nth-child(4) {
  padding-inline-start: 7.6%;
  /* padding-inline-start: 5.875rem; */
}

.header__element:nth-child(5) {
  padding-inline-start: 4.9rem;
}

/* Медиазапросы для блока header */

@media (width <= 1439px) {
  .header__navigation-block {
    justify-content: flex-end;
  }

  .header__button {
    grid-template-columns: span 2;
  }

  .header__list-about {
    display: none;
  }

  .header__element:nth-child(3) {
    padding-inline-start: 30%;
    /* padding-inline-start: 7.7rem; */
  }
}

@media (width <= 768px) {
}

@media (width <= 375px) {
}

/* 
---------------------------------------------------------------
                    Стили для блока main
---------------------------------------------------------------
*/

/* Общие стили для блока main */

.main {
  padding-block-start: 35px;
  padding-inline-start: clamp(4.688rem, 18.029vw - 6.851rem, 9.375rem);
  padding-inline-end: clamp(4.688rem, 18.029vw - 6.851rem, 9.375rem);
}

.main__section-feedback {
  padding-block-start: 30px;
}

.main__section-feedback-title {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
}

/* Стили для секции main__section-subscription */

.main__section-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: 100px;
  text-align: center;
  color: var(--text-second-color);
}

.main__section-subscription-title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-block-end: 47px;
}

.main__section-subscription-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-end: 24px;
}

.main__section-subscription-form-input {
  inline-size: 600px;
  block-size: 50px;
}

.main__section-subscription-form-input::placeholder {
  font-size: 16px;
  text-align: center;
  line-height: 19px;
}

.main__section-subscription-form-input:focus {
  outline: none;
}

.main__section-subscription-form-buttom {
  inline-size: 600px;
  block-size: 50px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 16px 81px 17px 81px;
}

.main__section-subscription-form-buttom:hover {
  box-shadow: var(--box-shadow);
}

.main__section-subscription-text {
  color: var(--text-second-color);
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

/* Медиазапросы для блока main */

@media (width <= 1439px) {
}

@media (width <= 768px) {
}

@media (width <= 375px) {
}

/* 
---------------------------------------------------------------
                    Стили для блока footer
---------------------------------------------------------------
*/

/* Общие стили для блока footer */

.footer {
  display: flex;
  padding: 99px clamp(4.688rem, 18.029vw - 6.851rem, 9.375rem) 74px
    clamp(4.688rem, 18.029vw - 6.851rem, 9.375rem);
}

/* Общие стили для блока footer */

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__section:nth-child(2) {
  padding-inline-start: 182px;
}

.footer__section:nth-child(3) {
  padding-inline-start: 156px;
}

.footer__section:nth-child(4) {
  padding-inline-start: 56px;
}

.footer__section-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 23px;
}

.footer__section-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__section-list-item:hover {
  opacity: 0.5;
}

/* Медиазапросы для блока footer */

@media (width <= 768px) {
}

@media (width <= 375px) {
}
