/* 
---------------------------------------------------------------
                    CSS-переменные для проекта
---------------------------------------------------------------
*/

:root {
  --accent-color: rgb(224, 190, 162);
  --text-color: rgb(255, 255, 255);
  --text-second-color: rgb(37, 37, 37);
  --tools-color: rgb(224, 190, 162);
}
