extends ../layouts/default.pug

block variables 
  - var title = 'Магазин одежды YANKI | Корзина'

block content
    main.basket__main.main
      div.main-navigation
        span
          a(href='http://127.0.0.1:5500/client/dist/main.html') Главная
        span Каталог
        span Корзина
      section.order
        h2.main__title
          | Ваш заказ
        ul.order__list
          li.order__list-item
            div.order__list-item-block-image
              div
                img.order__list-item-image(src='../dist/images/Rectangle-10.png' alt='Девушка в зимней куртке белого цвета с меховым капюшоном')
              div.order__list-item-block-information
                span.order__list-item-article арт. 1589956
                h3.order__list-item-title Кремовое пальто 
            div.order__list-item-color-blok 
              span.order__list-item-color
            div.order__list-item-size L
            div.order__list-item-quantity 3
            div.order__list-item-other
              span.order__list-item-price 9450 грн.
              button.order__list-item-delete-button 
                img(src="../dist/svg/trash-basket.svg", alt="Изображение корзины удаления товара") 
          li.order__list-item
            div.order__list-item-block-image
              div
                img.order__list-item-image(src='../dist/images/Rectangle-10.png' alt='Девушка в зимней куртке белого цвета с меховым капюшоном')
              div.order__list-item-block-information
                span.order__list-item-article арт. 1588262
                h3.order__list-item-title Кремовое пальто 
            div.order__list-item-color-blok 
              span.order__list-item-color
            div.order__list-item-size L
            div.order__list-item-quantity 3
            div.order__list-item-other
              span.order__list-item-price 9450 грн.
              button.order__list-item-delete-button 
                img(src="../dist/svg/trash-basket.svg", alt="Изображение корзины удаления товара") 
        div.order__total
          span.order__total-text К оплате: 
          span.order__total-coast 18831 грн 
      section.order-details
        h2.placing-order__title
          | Оформление заказа:
        form.placing-order
          div.placing-order__personal-information          
            legend.placing-order__second-title
                | Персональные данные:
            div.placing-order__settings
              input(type="text" placeholder='Ваше имя*').input-block
              input(type="text" placeholder='Ваша фамилия*').input-block
              input(type="email" placeholder='Ваш e-mail*').input-block
              input(type="tel" placeholder='Ваш телефон*').input-block
            legend.placing-order__second-title
              | Способ доставки:   
            div.placing-order__settings
              div.delivery-methods
                h3.delivery-methods__text По Украине:
                ul.delivery-methods__list
                  li.delivery-methods__list-item
                    input#delivery-method_1(type="radio", name="delivery-method" value='Самовывоз') 
                    label(for="delivery-method_1") 
                      | Самовывоз - вул. Большая Васильковская 14(м. Льва Толстого)
                  li.delivery-methods__list-item 
                    input#delivery-method_2(type="radio", name="delivery-method" value='Новая Почта')
                    label(for="delivery-method_2") 
                      | Новая Почта
              div.delivery-methods     
                h3.delivery-methods__text Международная доставка:
                ul.delivery-methods__list
                  li.delivery-methods__list-item
                    input#delivery-method_3(type="radio", name="delivery-method" value='Украпочта')
                    label(for="delivery-method_3") 
                      | Украпочта / 1-3 недели / 30$
                  li.delivery-methods__list-item
                    input#delivery-method_4(type="radio", name="delivery-method" value='DHL')
                    label(for="delivery-method_4") 
                      | DHL / 3-7 дней / 60$
            legend.placing-order__second-title
              | Адрес доставки 
            div.placing-order__settings
              input(type="text" placeholder='Город*').input-block
              input(type="text" placeholder='Отделение почты*').input-block
            fieldset.placing-order__settings
              legend.placing-order__second-title
                | Вы можете оплатить покупку одним из ниже перечисленных способов:
              ul.payment-methods__list
                li.payment-methods__list-item
                  input#payment-method_1(type="radio", name="payment-method" value='Приват 24')
                  label(for="payment-method_1") 
                    | Полная предоплата через Приват 24
                li.payment-methods__list-item
                  input#payment-method_2(type="radio", name="payment-method" value='Visa/MasterCard')
                  label(for='payment-method_2')
                    | Денежным переводом Visa/MasterCard
                li.payment-methods__list-item
                  input#payment-method_3(type="radio", name="payment-method" value='Наложенный платеж')
                  label(for="payment-method_3") 
                    | Наложенным платежом в отделении Новой Почты
            fieldset 
              label.placing-order__second-title 
                | Использование бонусного счёта:
              div.placing-order__settings
                input(type=""  placeholder='Сумма списания бонусов*').input-block
          div.total-coast
            ul.total-coast__list 
              li.total-coast__list-item
                a(href="http://127.0.0.1:5500/client/dist/profile.html") 
                  | Войти в личный кабинет 
              li.total-coast__list-item
                a(href="http://127.0.0.1:5500/client/dist/returns.html") 
                  | Условия доставки
              li.total-coast__list-item
                a(href="http://127.0.0.1:5500/client/dist/returns.html") 
                  | Условия возврата и обмена
              li.total-coast__list-item
                a(href="http://127.0.0.1:5500/client/dist/payment.html") 
                  | Информация об оплате
            div.total-coast__bill
              ul.total-coast__bill-criteria
                li Доставка:
                li Бонусы:
                li Итого:
              ul.total-coast__bill-elements
                li По тарифам перевозчика
                li -69 грн.
                li 18831 грн.
            button.total-coast__button
              | Оформить заказ
            p.total-coast__offer-text 
              | Нажимая на кнопку «Оплатить заказ», я принимаю условия публичной оферты и политики конфиденциальности

