block content

main.main
  .main__navigation
    span.main__navigation-item
      a(href='http://127.0.0.1:5500/client/views/index.html') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
    span.main__navigation-item &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
  section.main__catalog
    .main__catalog-category
      h2.main__catalog-category-title &Kcy;&acy;&tcy;&acy;&lcy;&ocy;&gcy;
      ul.main__catalog-category-list
        li.main__catalog-category-list-item New
        li.main__catalog-category-list-item Bestsellers
        li.main__catalog-category-list-item &Vcy;&iecy;&rcy;&khcy;&ncy;&yacy;&yacy; &ocy;&dcy;&iecy;&zhcy;&dcy;&acy;
        li.main__catalog-category-list-item &SHcy;&ucy;&bcy;&ycy;
        li.main__catalog-category-list-item &Tcy;&rcy;&iecy;&ncy;&chcy;&icy;
        li.main__catalog-category-list-item &Pcy;&ucy;&khcy;&ocy;&vcy;&icy;&kcy;&icy; &icy; &zhcy;&icy;&lcy;&iecy;&tcy;&ycy;
        li.main__catalog-category-list-item &Kcy;&ocy;&scy;&tcy;&yucy;&mcy;&ycy;
        li.main__catalog-category-list-item &ZHcy;&acy;&kcy;&iecy;&tcy;&ycy;
        li.main__catalog-category-list-item &Pcy;&lcy;&acy;&tcy;&softcy;&yacy;
        li.main__catalog-category-list-item &Rcy;&ucy;&bcy;&acy;&shcy;&kcy;&icy; &icy; &bcy;&lcy;&ucy;&zcy;&ycy;
        li.main__catalog-category-list-item &YUcy;&bcy;&kcy;&icy;
        li.main__catalog-category-list-item &Fcy;&ucy;&tcy;&bcy;&ocy;&lcy;&kcy;&icy; &icy; &tcy;&ocy;&pcy;&ycy;
        li.main__catalog-category-list-item &Acy;&kcy;&scy;&iecy;&scy;&scy;&ucy;&acy;&rcy;&ycy;
        li.main__catalog-category-list-item Sale
        li.main__catalog-category-list-item Summer
        li.main__catalog-category-list-item &Pcy;&rcy;&ocy;&scy;&mcy;&ocy;&tcy;&rcy;&iecy;&tcy;&softcy; &vcy;&scy;&iecy;
    .main__catalog-cloth
      ul.main__catalog-cloth-options-list
        li.main__catalog-cloth-options-list
          span &Rcy;&acy;&zcy;&mcy;&iecy;&rcy;
          img(src='' alt='')
        li.main__catalog-cloth-options-list
          span &TScy;&vcy;&iecy;&tcy;
          img(src='' alt='')
        li.main__catalog-cloth-options-list
          span &TScy;&iecy;&ncy;&acy;
          img(src='' alt='')
        li.main__catalog-cloth-options-list
          span &Scy;&ocy;&rcy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy; &pcy;&ocy;
          img(src='' alt='')
      ul.main__catalog-cloth-list
        li.main__catalog-cloth-list-item
          article.main__catalog-cloth-list-article
            img.main__catalog-cloth-list-item-image(src='../images/Rectangle-11.png' alt='')
            h3.main__catalog-cloth-list-article-title
              | &Bcy;&iecy;&lcy;&acy;&yacy; &kcy;&ucy;&rcy;&tcy;&kcy;&acy;
            span.main__catalog-cloth-list-article-price 2580 &gcy;&rcy;&ncy;.
            ul.main__catalog-cloth-list-article-sizes-list
              li.main__catalog-cloth-list-article-sizes-list-item
                | xss
              li.main__catalog-cloth-list-article-sizes-list-item
                | xs
              li.main__catalog-cloth-list-article-sizes-list-item
                | s
              li.main__catalog-cloth-list-article-sizes-list-item
                | l
              li.main__catalog-cloth-list-article-sizes-list-item
                | m
            ul.main__catalog-cloth-list-article-colors-list
              li.main__catalog-cloth-list-article-colors-list-item
              li.main__catalog-cloth-list-article-colors-list-item_blue
              li.main__catalog-cloth-list-article-colors-list-item_yellow
        li.main__catalog-cloth-list-item
          article.main__catalog-cloth-list-article
            img.main__catalog-cloth-list-item-image(src='../images/Rectangle-10.png' alt='')
            h3.main__catalog-cloth-list-article-title
              | &Scy;&icy;&ncy;&iecy;&iecy; &pcy;&acy;&lcy;&softcy;&tcy;&ocy;
            span.main__catalog-cloth-list-article-price 2580 &gcy;&rcy;&ncy;.
            ul.main__catalog-cloth-list-article-sizes-list
              li.main__catalog-cloth-list-article-sizes-list-item
                | xss
              li.main__catalog-cloth-list-article-sizes-list-item
                | xs
              li.main__catalog-cloth-list-article-sizes-list-item
                | s
              li.main__catalog-cloth-list-article-sizes-list-item
                | l
              li.main__catalog-cloth-list-article-sizes-list-item
                | m
            ul.main__catalog-cloth-list-article-colors-list
              li.main__catalog-cloth-list-article-colors-list-item
              li.main__catalog-cloth-list-article-colors-list-item_blue
              li.main__catalog-cloth-list-article-colors-list-item_yellow
        li.main__catalog-cloth-list-item
          article.main__catalog-cloth-list-article
            img.main__catalog-cloth-list-item-image(src='../images/Rectangle-7.png' alt='')
            h3.main__catalog-cloth-list-article-title
              | &Bcy;&iecy;&zhcy;&iecy;&vcy;&acy;&yacy; &shcy;&ucy;&bcy;&acy;
            span.main__catalog-cloth-list-article-price 2580 &gcy;&rcy;&ncy;.
            ul.main__catalog-cloth-list-article-sizes-list
              li.main__catalog-cloth-list-article-sizes-list-item
                | xss
              li.main__catalog-cloth-list-article-sizes-list-item
                | xs
              li.main__catalog-cloth-list-article-sizes-list-item
                | s
              li.main__catalog-cloth-list-article-sizes-list-item
                | l
              li.main__catalog-cloth-list-article-sizes-list-item
                | m
            ul.main__catalog-cloth-list-article-colors-list
              li.main__catalog-cloth-list-article-colors-list-item
              li.main__catalog-cloth-list-article-colors-list-item_blue
              li.main__catalog-cloth-list-article-colors-list-item_yellow
        li.main__catalog-cloth-list-item
          article.main__catalog-cloth-list-article
            img.main__catalog-cloth-list-item-image(src='../images/Rectangle-10.png' alt='')
            h3.main__catalog-cloth-list-article-title
              | &Scy;&icy;&ncy;&iecy;&iecy; &pcy;&acy;&lcy;&softcy;&tcy;&ocy;
            span.main__catalog-cloth-list-article-price 2580 &gcy;&rcy;&ncy;.
            ul.main__catalog-cloth-list-article-sizes-list
              li.main__catalog-cloth-list-article-sizes-list-item
                | xss
              li.main__catalog-cloth-list-article-sizes-list-item
                | xs
              li.main__catalog-cloth-list-article-sizes-list-item
                | s
              li.main__catalog-cloth-list-article-sizes-list-item
                | l
              li.main__catalog-cloth-list-article-sizes-list-item
                | m
            ul.main__catalog-cloth-list-article-colors-list
              li.main__catalog-cloth-list-article-colors-list-item
              li.main__catalog-cloth-list-article-colors-list-item_blue
              li.main__catalog-cloth-list-article-colors-list-item_yellow
        li.main__catalog-cloth-list-item
          article.main__catalog-cloth-list-article
            img.main__catalog-cloth-list-item-image(src='../images/Rectangle-10.png' alt='')
            h3.main__catalog-cloth-list-article-title
              | &Scy;&icy;&ncy;&iecy;&iecy; &pcy;&acy;&lcy;&softcy;&tcy;&ocy;
            span.main__catalog-cloth-list-article-price 2580 &gcy;&rcy;&ncy;.
            ul.main__catalog-cloth-list-article-sizes-list
              li.main__catalog-cloth-list-article-sizes-list-item
                | xss
              li.main__catalog-cloth-list-article-sizes-list-item
                | xs
              li.main__catalog-cloth-list-article-sizes-list-item
                | s
              li.main__catalog-cloth-list-article-sizes-list-item
                | l
              li.main__catalog-cloth-list-article-sizes-list-item
                | m
            ul.main__catalog-cloth-list-article-colors-list
              li.main__catalog-cloth-list-article-colors-list-item
              li.main__catalog-cloth-list-article-colors-list-item_blue
              li.main__catalog-cloth-list-article-colors-list-item_yellow
        li.main__catalog-cloth-list-item
          article.main__catalog-cloth-list-article
            img.main__catalog-cloth-list-item-image(src='../images/Rectangle-10.png' alt='')
            h3.main__catalog-cloth-list-article-title
              | &Scy;&icy;&ncy;&iecy;&iecy; &pcy;&acy;&lcy;&softcy;&tcy;&ocy;
            span.main__catalog-cloth-list-article-price 2580 &gcy;&rcy;&ncy;.
            ul.main__catalog-cloth-list-article-sizes-list
              li.main__catalog-cloth-list-article-sizes-list-item
                | xss
              li.main__catalog-cloth-list-article-sizes-list-item
                | xs
              li.main__catalog-cloth-list-article-sizes-list-item
                | s
              li.main__catalog-cloth-list-article-sizes-list-item
                | l
              li.main__catalog-cloth-list-article-sizes-list-item
                | m
            ul.main__catalog-cloth-list-article-colors-list
              li.main__catalog-cloth-list-article-colors-list-item
              li.main__catalog-cloth-list-article-colors-list-item_blue
              li.main__catalog-cloth-list-article-colors-list-item_yellow
        li.main__catalog-cloth-list-item
          article.main__catalog-cloth-list-article
            img.main__catalog-cloth-list-item-image(src='../images/Rectangle-10.png' alt='')
            h3.main__catalog-cloth-list-article-title
              | &Scy;&icy;&ncy;&iecy;&iecy; &pcy;&acy;&lcy;&softcy;&tcy;&ocy;
            span.main__catalog-cloth-list-article-price 2580 &gcy;&rcy;&ncy;.
            ul.main__catalog-cloth-list-article-sizes-list
              li.main__catalog-cloth-list-article-sizes-list-item
                | xss
              li.main__catalog-cloth-list-article-sizes-list-item
                | xs
              li.main__catalog-cloth-list-article-sizes-list-item
                | s
              li.main__catalog-cloth-list-article-sizes-list-item
                | l
              li.main__catalog-cloth-list-article-sizes-list-item
                | m
            ul.main__catalog-cloth-list-article-colors-list
              li.main__catalog-cloth-list-article-colors-list-item
              li.main__catalog-cloth-list-article-colors-list-item_blue
              li.main__catalog-cloth-list-article-colors-list-item_yellow
        li.main__catalog-cloth-list-item
          article.main__catalog-cloth-list-article
            img.main__catalog-cloth-list-item-image(src='../images/Rectangle-10.png' alt='')
            h3.main__catalog-cloth-list-article-title
              | &Scy;&icy;&ncy;&iecy;&iecy; &pcy;&acy;&lcy;&softcy;&tcy;&ocy;
            span.main__catalog-cloth-list-article-price 2580 &gcy;&rcy;&ncy;.
            ul.main__catalog-cloth-list-article-sizes-list
              li.main__catalog-cloth-list-article-sizes-list-item
                | xss
              li.main__catalog-cloth-list-article-sizes-list-item
                | xs
              li.main__catalog-cloth-list-article-sizes-list-item
                | s
              li.main__catalog-cloth-list-article-sizes-list-item
                | l
              li.main__catalog-cloth-list-article-sizes-list-item
                | m
            ul.main__catalog-cloth-list-article-colors-list
              li.main__catalog-cloth-list-article-colors-list-item
              li.main__catalog-cloth-list-article-colors-list-item_blue
              li.main__catalog-cloth-list-article-colors-list-item_yellow
        li.main__catalog-cloth-list-item
          article.main__catalog-cloth-list-article
            img.main__catalog-cloth-list-item-image(src='../images/Rectangle-7.png' alt='')
            h3.main__catalog-cloth-list-article-title
              | &Bcy;&iecy;&zhcy;&iecy;&vcy;&acy;&yacy; &shcy;&ucy;&bcy;&acy;
            span.main__catalog-cloth-list-article-price 2580 &gcy;&rcy;&ncy;.
            ul.main__catalog-cloth-list-article-sizes-list
              li.main__catalog-cloth-list-article-sizes-list-item
                | xss
              li.main__catalog-cloth-list-article-sizes-list-item
                | xs
              li.main__catalog-cloth-list-article-sizes-list-item
                | s
              li.main__catalog-cloth-list-article-sizes-list-item
                | l
              li.main__catalog-cloth-list-article-sizes-list-item
                | m
            ul.main__catalog-cloth-list-article-colors-list
              li.main__catalog-cloth-list-article-colors-list-item
              li.main__catalog-cloth-list-article-colors-list-item_blue
              li.main__catalog-cloth-list-article-colors-list-item_yellow