extends ../layouts/catalogPage

block variables 
  - var title = 'Магазин одежды YANKI | Каталог'

block content
  main.catalog__main
    section.catalog__main-content
      div.main__navigation
        span.main__navigation-item
          a(href='http://127.0.0.1:5500/client/dist/main.html') Главная
        span.main__navigation-item Каталог
      div.catalog__main-category-items 
        div.catalog__category-block
          h2.catalog__category-title Каталог
          ul.catalog__category-list
            li.catalog___category-list-item New
            li.catalog___category-list-item Bestsellers
            li.catalog___category-list-item Верхняя одежда
            li.catalog___category-list-item Шубы
            li.catalog___category-list-item Тренчи
            li.catalog___category-list-item Пуховики и жилеты
            li.catalog___category-list-item Костюмы
            li.catalog___category-list-item Жакеты
            li.catalog___category-list-item Платья
            li.catalog___category-list-item Рубашки и блузы
            li.catalog___category-list-item Юбки
            li.catalog___category-list-item Футболки и топы
            li.catalog___category-list-item Аксессуары
            li.catalog___category-list-item Sale
            li.catalog___category-list-item Summer
            li.catalog___category-list-item Просмотреть все
        div.catalog__cloth
          ul.catalog__cloth-options-list
            li.catalog__cloth-options-list-item
              span Размер
              img(src='' alt='')
            li.catalog__cloth-options-list-item
              span Цвет
              img(src='' alt='')
            li.catalog__cloth-options-list-item
              span Цена
              img(src='' alt='')
            li.catalog__cloth-options-list-item
              span Сортировать по
              img(src='' alt='')
          ul.catalog__cloth-list
            li.catalog__cloth-list-item
              article.catalog__cloth-card
                img.catalog__cloth-card-image(src='../dist/images/Rectangle-11.png' alt='')
                h3.catalog__cloth-card-title
                  | Белая куртка
                span.catalog__cloth-card-price 2580 грн.
                ul.catalog__cloth-card-sizes-list
                  li.catalog__cloth-card-sizes-list-item
                    | xss
                  li.catalog__cloth-card-sizes-list-item
                    | xs
                  li.catalog__cloth-card-sizes-list-item
                    | s
                  li.catalog__cloth-card-sizes-list-item
                    | l
                  li.catalog__cloth-card-sizes-list-item
                    | m
                ul.catalog__cloth-card-colors-list
                  li.catalog__cloth-card-colors-list-item.item_white
                  li.catalog__cloth-card-colors-list-item.item_blue
                  li.catalog__cloth-card-colors-list-item.item_yellow
            li.catalog__cloth-list-item
              article.catalog__cloth-card
                img.catalog__cloth-card-image(src='../dist/images/Rectangle-11.png' alt='')
                h3.catalog__cloth-card-title
                  | Белая куртка
                span.catalog__cloth-card-price 2580 грн.
                ul.catalog__cloth-card-sizes-list
                  li.catalog__cloth-card-sizes-list-item
                    | xss
                  li.catalog__cloth-card-sizes-list-item
                    | xs
                  li.catalog__cloth-card-sizes-list-item
                    | s
                  li.catalog__cloth-card-sizes-list-item
                    | l
                  li.catalog__cloth-card-sizes-list-item
                    | m
                ul.catalog__cloth-card-colors-list
                  li.catalog__cloth-card-colors-list-item.item_white
                  li.catalog__cloth-card-colors-list-item.item_blue
                  li.catalog__cloth-card-colors-list-item.item_yellow
            li.catalog__cloth-list-item
              article.catalog__cloth-card
                img.catalog__cloth-card-image(src='../dist/images/Rectangle-11.png' alt='')
                h3.catalog__cloth-card-title
                  | Белая куртка
                span.catalog__cloth-card-price 2580 грн.
                ul.catalog__cloth-card-sizes-list
                  li.catalog__cloth-card-sizes-list-item
                    | xss
                  li.catalog__cloth-card-sizes-list-item
                    | xs
                  li.catalog__cloth-card-sizes-list-item
                    | s
                  li.catalog__cloth-card-sizes-list-item
                    | l
                  li.catalog__cloth-card-sizes-list-item
                    | m
                ul.catalog__cloth-card-colors-list
                  li.catalog__cloth-card-colors-list-item.item_white
                  li.catalog__cloth-card-colors-list-item.item_blue
                  li.catalog__cloth-card-colors-list-item.item_yellow
            li.catalog__cloth-list-item
              article.catalog__cloth-card
                img.catalog__cloth-card-image(src='../dist/images/Rectangle-11.png' alt='')
                h3.catalog__cloth-card-title
                  | Белая куртка
                span.catalog__cloth-card-price 2580 грн.
                ul.catalog__cloth-card-sizes-list
                  li.catalog__cloth-card-sizes-list-item
                    | xss
                  li.catalog__cloth-card-sizes-list-item
                    | xs
                  li.catalog__cloth-card-sizes-list-item
                    | s
                  li.catalog__cloth-card-sizes-list-item
                    | l
                  li.catalog__cloth-card-sizes-list-item
                    | m
                ul.catalog__cloth-card-colors-list
                  li.catalog__cloth-card-colors-list-item.item_white
                  li.catalog__cloth-card-colors-list-item.item_blue
                  li.catalog__cloth-card-colors-list-item.item_yellow
            li.catalog__cloth-list-item
              article.catalog__cloth-card
                img.catalog__cloth-card-image(src='../dist/images/Rectangle-11.png' alt='')
                h3.catalog__cloth-card-title
                  | Белая куртка
                span.catalog__cloth-card-price 2580 грн.
                ul.catalog__cloth-card-sizes-list
                  li.catalog__cloth-card-sizes-list-item
                    | xss
                  li.catalog__cloth-card-sizes-list-item
                    | xs
                  li.catalog__cloth-card-sizes-list-item
                    | s
                  li.catalog__cloth-card-sizes-list-item
                    | l
                  li.catalog__cloth-card-sizes-list-item
                    | m
                ul.catalog__cloth-card-colors-list
                  li.catalog__cloth-card-colors-list-item.item_white
                  li.catalog__cloth-card-colors-list-item.item_blue
                  li.catalog__cloth-card-colors-list-item.item_yellow
            li.catalog__cloth-list-item
              article.catalog__cloth-card
                img.catalog__cloth-card-image(src='../dist/images/Rectangle-11.png' alt='')
                h3.catalog__cloth-card-title
                  | Белая куртка
                span.catalog__cloth-card-price 2580 грн.
                ul.catalog__cloth-card-sizes-list
                  li.catalog__cloth-card-sizes-list-item
                    | xss
                  li.catalog__cloth-card-sizes-list-item
                    | xs
                  li.catalog__cloth-card-sizes-list-item
                    | s
                  li.catalog__cloth-card-sizes-list-item
                    | l
                  li.catalog__cloth-card-sizes-list-item
                    | m
                ul.catalog__cloth-card-colors-list
                  li.catalog__cloth-card-colors-list-item.item_white
                  li.catalog__cloth-card-colors-list-item.item_blue
                  li.catalog__cloth-card-colors-list-item.item_yellow
            
            