extends ../layouts/default.pug

block variables 
  - var title = 'Магазин одежды YANKI | Контакты'

block content
  main.contacts__main.main
    section.contacts__main-feedback
      div.contacts__main-navigation
        span.contacts__main-navigation-item
          a(href='http://127.0.0.1:5500/client/dist/main.html') Главная
        span.contacts__main-navigation-item Контакты
      h2.contacts__main-feedback-title Связаться с нами
      ul.contacts__main-feedback-list
        li.contacts__main-feedback-list-item
          h3.contacts__main-feedback-list-item-title
            | В социальных сетях
          div.contacts__address-socials
            span
              img(src='../dist/svg/instagram-icon.svg' alt='Иконка инстаграма')
            span 
              img(src='../dist/svg/telegram-icon.svg' alt='Иконка телеграма')
        li.contacts__main-feedback-list-item
          h3.contacts__main-feedback-list-item-title По телефону
          address.contacts__main-feedback-list-item-address
            span
              a(href='tel:+381637107191') +381(063) 710 71 91
        li.contacts__main-feedback-list-item
          h3.contacts__main-feedback-list-item-title По почте
          address.contacts__main-feedback-list-item-address
            span
              a(href='mailto:example@mail.com') example@mail.com
        li.contacts__main-feedback-list-item
          h3.contacts__main-feedback-list-item-title Наш офис
          address.contacts__main-feedback-list-item-address
            p г. Киев ул. Пушкина, д. 32
    section.main__page-subscription
      h2.main__page-subscription-title
        | Узнайте первым о новинках
      form.form__subscription
        label
          input.form__subscription-input(type='text' placeholder='Ваш e-mail*')
        button.form__subscription-button(type='submit')
          | Подписаться
      p.main__page-subscription-text
        | Нажимая на кнопку «Подписаться», я соглашаюсь на обработку моих 
        br
        | персональных данных и ознакомлен(а) с условиями конфиденциальности.