extends ../layouts/default.pug

block variables 
  - var title = 'Магазин одежды YANKI | Контакты'

block content
  main.contacts__main
    section.contacts__main-feedback
      div.contacts__main-navigation
        span.contacts__main-navigation-item
          a(href='http://127.0.0.1:5500/client/dist/main.html') Главная
        span.contacts__main-navigation-item Контакты
      h2.contacts__main-feedback-title Связаться с нами
      ul.contacts__main-feedback-list
        li.contacts__main-feedback-list-item
          h3.contacts__main-feedback-list-item-title
            | В социальных сетях
          div 
        li.contacts__main-feedback-list-item
          h3.contacts__main-feedback-list-item-title По телефону
          address.contacts__main-feedback-list-item-address
            span
              a(href='tel:+381637107191') +381(063) 710 71 91
        li.contacts__main-feedback-list-item
          h3.contacts__main-feedback-list-item-title По почте
          address.contacts__main-feedback-list-item-address
          span
            a(href='mailto:example@mail.com') example@mail.com
        li.contacts__main-feedback-list-item
          h3.contacts__main-feedback-list-title Наш офис
          address.contacts__main-feedback-list-item-address
          p г. Киев ул. Пушкина, д. 32
    section.main__section-subscription
      h2.main__section-subscription-title
        | Узнайте первым о новинках
      form.main__section-subscription-form
        label
          input.main__section-subscription-form-input(type='text' placeholder='Ваш e-mail*')
        button.main__section-subscription-form-buttom(type='submit')
          | Подписаться
      p.main__section-subscription-text
        | Нажимая на кнопку «Подписаться», я соглашаюсь на обработку моих 
        br
        | персональных данных и ознакомлен(а) с условиями конфиденциальности.
