block content

main.main
  .main__navigation
    span.main__navigation-item
      a(href='http://127.0.0.1:5500/client/views/index.html') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
    span.main__navigation-item &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
  section.main__section-feedback
    h2.main__section-feedback-title &Scy;&vcy;&yacy;&zcy;&acy;&tcy;&softcy;&scy;&yacy; &scy; &ncy;&acy;&mcy;&icy;
    ul.main__section-feedback-list
      li.main__section-feedback-list-item
        h3.main__section-feedback-list-item-title
          | &Vcy; &scy;&ocy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &scy;&iecy;&tcy;&yacy;&khcy;
      li.main__section-feedback-list-item
        h3.main__section-feedback-list-item-title &Pcy;&ocy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ucy;
        address.main__section-feedback-list-item-address
          span
            a(href='tel:++381637107191') +381(063) 710 71 91
      li.main__section-feedback-list-item
        h3.main__section-feedback-list-item-title &Pcy;&ocy; &pcy;&ocy;&chcy;&tcy;&iecy;
        address.main__section-feedback-list-item-address
          span
            a(href='mailto:example@mail.com') example@mail.com
      li.main__section-feedback-list-item
        h3.main__section-feedback-list-item-title &Ncy;&acy;&shcy; &ocy;&fcy;&icy;&scy;
        address.main__section-feedback-list-item-address
          p &gcy;. &Kcy;&icy;&iecy;&vcy; &ucy;&lcy;. &Pcy;&ucy;&shcy;&kcy;&icy;&ncy;&acy;, &dcy;. 32
  section.main__section-subscription
    h2.main__section-subscription-title
      | &Ucy;&zcy;&ncy;&acy;&jcy;&tcy;&iecy; &pcy;&iecy;&rcy;&vcy;&ycy;&mcy; &ocy; &ncy;&ocy;&vcy;&icy;&ncy;&kcy;&acy;&khcy;
    form.main__section-subscription-form
      label
        input.main__section-subscription-form-input(type='text' placeholder='Ваш e-mail*')
      button.main__section-subscription-form-buttom(type='submit')
        | &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;
    p.main__section-subscription-text
      | &Ncy;&acy;&zhcy;&icy;&mcy;&acy;&yacy; &ncy;&acy; &kcy;&ncy;&ocy;&pcy;&kcy;&ucy; &laquo;&Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy;&raquo;, &yacy; &scy;&ocy;&gcy;&lcy;&acy;&shcy;&acy;&yucy;&scy;&softcy; &ncy;&acy; &ocy;&bcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&ucy; &mcy;&ocy;&icy;&khcy; 
      br
      |           &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy; &icy; &ocy;&zcy;&ncy;&acy;&kcy;&ocy;&mcy;&lcy;&iecy;&ncy;(&acy;) &scy; &ucy;&scy;&lcy;&ocy;&vcy;&icy;&yacy;&mcy;&icy; &kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&icy;.