extends ../layouts/default

block variables 
  - var title = 'Магазин одежды YANKI | Контакты'

block content
main.main
  div.main__navigation
    span.main__navigation-item
      a(href='http://127.0.0.1:5500/client/views/index.html') Главная
    span.main__navigation-item  Контакты
  section.main__section-feedback
    h2.main__section-feedback-title Связаться с нами
    ul.main__section-feedback-list
      li.main__section-feedback-list-item
        h3.main__section-feedback-list-item-title
          |В социальных сетях
      li.main__section-feedback-list-item
        h3.main__section-feedback-list-item-title По телефону
        address.main__section-feedback-list-item-address
          span
            a(href='tel:++381637107191') +381(063) 710 71 91
      li.main__section-feedback-list-item
        h3.main__section-feedback-list-item-title По почте
        address.main__section-feedback-list-item-address
          span
            a(href='mailto:example@mail.com') example@mail.com
      li.main__section-feedback-list-item
        h3.main__section-feedback-list-item-title По телефону
        address.main__section-feedback-list-item-address
          p г. Киев ул. Пушкина, д. 32
  section.main__section-subscription
    h2.main__section-subscription-title
      | Узнайте первым о новинках
    form.main__section-subscription-form
      label
        input.main__section-subscription-form-input(type='text' placeholder='Ваш e-mail*')
      button.main__section-subscription-form-buttom(type='submit')
        | Подписаться
    p.main__section-subscription-text
      | Нажимая на кнопку «Подписаться», я соглашаюсь на обработку моих
      br
      | персональных данных и ознакомлен(а) с условиями конфиденциальности.