extends ../layouts/default.pug

block variables 
  - var title = 'Магазин одежды YANKI | Избранное'

block content
    main.favorites__main.main
      div.favorites__main-navigation
        span.favorites__main-navigation-item
          a(href='http://127.0.0.1:5500/client/dist/main.html') Главная
        span.favorites__main-navigation-item Каталог
        span.favorites__main-navigation-item Избранное
      h2.favorites__title
        | Избранное
      ul.favorites__list
        li.favorites__list-item
          article.favorites__cloth-card
            img.favorites__cloth-card-image(src='../dist/images/Rectangle-11.png' alt='')
            h3.favorites__cloth-card-title
              | Белая куртка
            span.favorites__cloth-card-price 2580 грн.
            ul.favorites__cloth-card-sizes-list
              li.favorites__cloth-card-sizes-list-item
                | xss
              li.favorites__cloth-card-sizes-list-item
                | xs
              li.favorites__cloth-card-sizes-list-item
                | s
              li.favorites__cloth-card-sizes-list-item
                | l
              li.favorites__cloth-card-sizes-list-item
                | m
            ul.favorites__cloth-card-colors-list
              li.favorites__cloth-card-colors-list-item.item_white
              li.favorites__cloth-card-colors-list-item.item_blue
              li.favorites__cloth-card-colors-list-item.item_yellow
        li.favorites__list-item
          article.favorites__cloth-card
            img.favorites__cloth-card-image(src='../dist/images/Rectangle-11.png' alt='')
            h3.favorites__cloth-card-title
              | Белая куртка
            span.favorites__cloth-card-price 2580 грн.
            ul.favorites__cloth-card-sizes-list
              li.favorites__cloth-card-sizes-list-item
                | xss
              li.favorites__cloth-card-sizes-list-item
                | xs
              li.favorites__cloth-card-sizes-list-item
                | s
              li.favorites__cloth-card-sizes-list-item
                | l
              li.favorites__cloth-card-sizes-list-item
                | m
            ul.favorites__cloth-card-colors-list
              li.favorites__cloth-card-colors-list-item.item_white
              li.favorites__cloth-card-colors-list-item.item_blue
              li.favorites__cloth-card-colors-list-item.item_yellow
        li.favorites__list-item
          article.favorites__cloth-card
            img.favorites__cloth-card-image(src='../dist/images/Rectangle-11.png' alt='')
            h3.favorites__cloth-card-title
              | Белая куртка
            span.favorites__cloth-card-price 2580 грн.
            ul.favorites__cloth-card-sizes-list
              li.favorites__cloth-card-sizes-list-item
                | xss
              li.favorites__cloth-card-sizes-list-item
                | xs
              li.favorites__cloth-card-sizes-list-item
                | s
              li.favorites__cloth-card-sizes-list-item
                | l
              li.favorites__cloth-card-sizes-list-item
                | m
            ul.favorites__cloth-card-colors-list
              li.favorites__cloth-card-colors-list-item.item_white
              li.favorites__cloth-card-colors-list-item.item_blue
              li.favorites__cloth-card-colors-list-item.item_yellow