extends ../layouts/mainPage

block variables 
  - var title = 'Магазин одежды YANKI | Главная'

block content
  main.main__page.main
    section.main__page-category
      h2.main__page-category-title Категории
      ul.main__page-category-list
        li.main__page-category-list-item
          a.main__page-category-list-item-link(href='http://127.0.0.1:5500/client/dist/catalog.html')
            h3.main__page-category-list-item-title Куртки
            picture
              img.main__page-category-list-item-image(src='../dist/images/Rectangle-11.png' alt='Девушка в зимней куртке белого цвета с меховым капюшоном')
        li.main__page-category-list-item
          a.main__page-category-list-item-link(href='http://127.0.0.1:5500/client/dist/catalog.html')
            h3.main__page-category-list-item-title Пальто
            picture
              img.main__page-category-list-item-image(src='../dist/images/Rectangle-10.png' alt='Девушка в зимнем пальто официального стиля в темно-синем цвете')
        li.main__page-category-list-item
          a.main__page-category-list-item-link(href='http://127.0.0.1:5500/client/dist/catalog.html')
            h3.main__page-category-list-item-title Шубы
            picture
              img.main__page-category-list-item-image(src='../dist/images/Rectangle-7.png' alt='Девушка в зимней меховой шубе бежевого цвета')
        li.main__page-category-list-item
          a.main__page-category-list-item-link(href='http://127.0.0.1:5500/client/dist/catalog.html')
            h3.main__page-category-list-item-title Парки
            picture
              img.main__page-category-list-item-image(src='../dist/images/Rectangle-9.png' alt='Девушка в зимней парке серо-синего цвета с меховым капюшоном')
    section.main__page-subscription
      h2.main__page-subscription-title
        | Узнайте первым о новинках
      form.form__subscription
        label
          input.form__subscription-input(type='text' placeholder='Ваш e-mail*')
        button.form__subscription-button(type='submit')
          | Подписаться
      p.main__page-subscription-text
        | Нажимая на кнопку «Подписаться», я соглашаюсь на обработку моих 
        br
        |           персональных данных и ознакомлен(а) с условиями конфиденциальности.