extends ../layouts/default

block variables 
  - var title = 'Магазин одежды YANKI | Возврат и обмен '

block content
  main.main
    div.main__navigation
      span.main__navigation-item
        a(href='http://127.0.0.1:5500/client/views/index.html') Главная
      span.main__navigation-item Возврат и обмен
    section.main__returns-information
      h2.main__returns-information-title Обмен и возврат
      p.main__returns-information-text
        | Если вам не подошел заказ, мы с удовольствием вам его обменяем или
        | примем возврат
      p.main__returns-information-text
        | Обмен и возврат возможен в случае :
      ul.main__returns-information-list
        li.main__returns-information-list-item
          img(src='../images/label.svg' alt='Картинка с изображением ярлыка для одежды')
          p.main__returns-information-list-item-text
            | если заказ не был использован и сохранил товарный вид(в том числе
            | не нарушены бирки, ярлыки, упаковочные материалы)
        li.main__returns-information-list-item
          img(src='' alt='')
          p
        li.main__returns-information-list-item
          img(src='' alt='')
          p.main__returns-information-list-item-text
        li.main__returns-information-list-item
          img(src='' alt='')
          p.main__returns-information-list-item-text
        li.main__returns-information-list-item
          img(src='' alt='')
          p.main__returns-information-list-item-text
        li.main__returns-information-list-item
          img(src='' alt='')
          p.main__returns-information-list-item-text
