extends ../layouts/default

block variables 
  - var title = 'Магазин одежды YANKI | Возврат и обмен '

block content
  main.main
    .main__navigation
      span.main__navigation-item
        a(href='http://127.0.0.1:5500/client/dist/views/main.html') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
      span.main__navigation-item &Vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy; &icy; &ocy;&bcy;&mcy;&iecy;&ncy;
    section.main__returns-information
      h2.main__returns-information-title &Ocy;&bcy;&mcy;&iecy;&ncy; &icy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;
      p.main__returns-information-text
        | &IEcy;&scy;&lcy;&icy; &vcy;&acy;&mcy; &ncy;&iecy; &pcy;&ocy;&dcy;&ocy;&shcy;&iecy;&lcy; &zcy;&acy;&kcy;&acy;&zcy;, &mcy;&ycy; &scy; &ucy;&dcy;&ocy;&vcy;&ocy;&lcy;&softcy;&scy;&tcy;&vcy;&icy;&iecy;&mcy; &vcy;&acy;&mcy; &iecy;&gcy;&ocy; &ocy;&bcy;&mcy;&iecy;&ncy;&yacy;&iecy;&mcy; &icy;&lcy;&icy;
        | &pcy;&rcy;&icy;&mcy;&iecy;&mcy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy;
      p.main__returns-information-text
        | &Ocy;&bcy;&mcy;&iecy;&ncy; &icy; &vcy;&ocy;&zcy;&vcy;&rcy;&acy;&tcy; &vcy;&ocy;&zcy;&mcy;&ocy;&zhcy;&iecy;&ncy; &vcy; &scy;&lcy;&ucy;&chcy;&acy;&iecy; :
      ul.main__returns-information-list
        li.main__returns-information-list-item
          img(src='../images/label.svg' alt='Картинка с изображением ярлыка для одежды')
          p.main__returns-information-list-item-text
            | &iecy;&scy;&lcy;&icy; &zcy;&acy;&kcy;&acy;&zcy; &ncy;&iecy; &bcy;&ycy;&lcy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&ncy; &icy; &scy;&ocy;&khcy;&rcy;&acy;&ncy;&icy;&lcy; &tcy;&ocy;&vcy;&acy;&rcy;&ncy;&ycy;&jcy; &vcy;&icy;&dcy;(&vcy; &tcy;&ocy;&mcy; &chcy;&icy;&scy;&lcy;&iecy;
            | &ncy;&iecy; &ncy;&acy;&rcy;&ucy;&shcy;&iecy;&ncy;&ycy; &bcy;&icy;&rcy;&kcy;&icy;, &yacy;&rcy;&lcy;&ycy;&kcy;&icy;, &ucy;&pcy;&acy;&kcy;&ocy;&vcy;&ocy;&chcy;&ncy;&ycy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&ycy;)
        li.main__returns-information-list-item
          img(src='' alt='')
          p
        li.main__returns-information-list-item
          img(src='' alt='')
          p.main__returns-information-list-item-text
        li.main__returns-information-list-item
          img(src='' alt='')
          p.main__returns-information-list-item-text
        li.main__returns-information-list-item
          img(src='' alt='')
          p.main__returns-information-list-item-text
        li.main__returns-information-list-item
          img(src='' alt='')
          p.main__returns-information-list-item-text