extends default.pug

block cardContent
  main.main
    div.product__details
      div.product__image-block
        div.product__main-image
          img(src='', alt='')
        ul.product__image-list
          li.product__image-list-item
          li.product__image-list-item 
          li.product__image-list-item 
          li.product__image-list-item 
          li.product__image-list-item 
        img(src='', alt='').product__main-image
      div.product__information
        h2.product__title   
        p.product__price
        ul.product__list-color
          li.product__list-color-item 
          li.product__list-color-item  
          li.product__list-color-item 
        p.product__main-color
        h3.product__size-selector
          ul
            li
            li
            li
            li
            li 
        div.product__buttons-block 
          button.product__add-basket
          button.product__add-favorites
        h3.product__description Подробности
        h4.product__details Состав и уход
        

   