block variables

doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/dist/bundle.css')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet')
    title= title 
  body.page
    header.header.header__main-page
      nav.header__navigation-block.navigation-main-page
        button.header__button
          img(src='/dist/svg/menu-button.svg' alt='Кнопка для открытия каталога')
        ul.header__element.header__list-about
          li.header__list-about-item
            button.header__list-about-item-buttom new
          li.header__list-about-item
            a.header__list-about-item-buttom(href='http://127.0.0.1:5500/client/dist/catalog.html')
              | каталог
          li.header__list-about-item
            button.header__list-about-item-buttom о нас
        h1.header__element.header__title Yanki
        ul.header__element.header__list-of-tools
          li.list.header__list-of-tools-item
            div
              span Ru
              img(src='/dist/svg/item.svg' alt='Кнопка для переключения языка сайта')
            div.drop-down-list
              span Ua
              span En     
          li.list.header__list-of-tools-item
            div
              span Uah
              img(src='/dist/svg/item.svg' alt='Иконка для переключения языка сайта')
            div.drop-down-list
              span Usd
              span Eur
        ul.header__element.header__list-of-things
          li.header__list-of-things-item.search-button
            img(src='/dist/svg/search-icon.svg' alt='Изображение иконки поискового поля')
          li.header__list-of-things-item.profile-button
            a(href='http://127.0.0.1:5500/client/dist/profile.html')
              img(src='/dist/svg/profile-icon.svg' alt='Изображение иконки профиля пользователя')
          li.header__list-of-things-item.favorites-button
            a(href="http://127.0.0.1:5500/client/dist/favorites.html")
              img(src='/dist/svg/favorites.svg' alt='Иконка с изображением сердечка для перехода на страницу с избранными товарами пользователя')
          li#basket-button.header__list-of-things-item
            a(href="http://127.0.0.1:5500/client/dist/basket.html") 
              img(src='/dist/svg/basket.svg' alt='Иконка с изображением козины покупателя').header__collection-block
      ul.popup-mobile
        li.popup-mobile__item
          div.popup-mobile__search-block
            input(type="text", id="searchInput", placeholder="Введите ваш запрос").popup-mobile__search-block-input
            span Uah
        li.popup-mobile__item
          div 
            img(src='/dist/svg/profile-icon.svg' alt='Изображение иконки профиля пользователя')
            a(href='http://127.0.0.1:5500/client/dist/authorization.html')
              | Личный кабинет
        li.popup-mobile__item
          a(href="http://127.0.0.1:5500/client/dist/catalog.html")
            | New 
        li.popup-mobile__item
          a(href="http://127.0.0.1:5500/client/dist/catalog.html")
            | Каталог 
        li.popup-mobile__item
          a(href="http://127.0.0.1:5500/client/dist/returns.html") 
            | Условия возврата
        li.popup-mobile__item
          a(href="http://127.0.0.1:5500/client/dist/contacts.html")
            | Контакты 
        li.popup-mobile__item
          address.address
            div.address__socials
              span
                img(src='/dist/svg/instagram-icon.svg' alt='Иконка инстаграма')
              span 
                img(src='/dist/svg/telegram-icon.svg' alt='Иконка телеграма')
            span +38(073) 096 36 44
            span info@yanki.com        
      div.header__collection-block
        h2.header__collection-block-title Новая коллекция
        span.header__collection-block-line
        a.header__collection-block-link(href='http://127.0.0.1:5500/client/dist/catalog.html') Смотреть новинки
    block content 
    footer.footer
      section.footer__section
        h2.footer__section-title Компания
        ul.footer__section-list
          li.footer__section-list-item
            a(href='#') О нас
          li.footer__section-list-item
            a(href='http://127.0.0.1:5500/client/dist/contacts.html') Контакты
      section.footer__section
        h2.footer__section-title Полезное
        ul.footer__section-list
          li.footer__section-list-item
            a(href='#') Оплата и доставка
          li.footer__section-list-item
            a(href='http://127.0.0.1:5500/client/dist/returns.html') Условия возврата
          li.footer__section-list-item
            a(href='#') Бонусная система
      section.footer__section
        h2.footer__section-title Покупателю
        ul.footer__section-list
          li.footer__section-list-item
            a(href='http://127.0.0.1:5500/client/dist/favorites.html')  Избранное
          li.footer__section-list-item
            a(href='#') Публичная оферта
          li.footer__section-list-item
            a(href='#') Политика конфиденциальности
      section.footer__section
        h2.footer__section-title Контакты
        address.address
          div.address__socials
            span
              img(src='/dist/svg/instagram-icon.svg' alt='Иконка инстаграма')
            span 
              img(src='/dist/svg/telegram-icon.svg' alt='Иконка телеграма')
          span +38(073) 096 36 44
          span info@yanki.com
    script(src="/dist/bundle.js")
