<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../dist/bundle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Магазин одежды YANKI | Контакты</title>
  </head>
  <body class="page">
    <header class="header">
      <nav class="header__navigation-block">
        <button class="header__button">
          <img
            src="../images/menu-button.svg"
            alt="Кнопка для открытия каталога"
          />
        </button>
        <ul class="header__element header__list-about">
          <li class="header__list-about-item">
            <button class="header__list-about-item-buttom">new</button>
          </li>
          <li class="header__list-about-item">
            <a
              class="header__list-about-item-buttom"
              href="http://127.0.0.1:5500/client/views/catalog.html"
            >
              каталог
            </a>
          </li>
          <li class="header__list-about-item">
            <button class="header__list-about-item-buttom">о нас</button>
          </li>
        </ul>
        <h1 class="header__element header__title">
          <a href="http://127.0.0.1:5500/client/views/index.html">yanki</a>
        </h1>
        <ul class="header__element header__list-of-tools">
          <li class="header__list-of-tools-item">
            <button class="header__list-of-tools-item-button">
              <span>ru</span>
              <img
                src="../images/item.svg"
                alt="Кнопка для переключения языка сайта"
              />
            </button>
          </li>
          <li class="header__list-of-tools-item">
            <button class="header__list-of-tools-item-button">
              <span>uah</span>
              <img
                src="../images/item.svg"
                alt="Кнопка для переключения языка сайта"
              />
            </button>
          </li>
        </ul>
        <ul class="header__element header__list-of-things">
          <li class="header__list-of-things-item">
            <img
              src="../images/Group-2.svg"
              alt="Изображение иконки поискового поля"
            />
          </li>
          <li class="header__list-of-things-item">
            <img
              src="../images/search.svg"
              alt="Изображение иконки профиля пользователя в минималистичном стиле"
            />
          </li>
          <li class="header__list-of-things-item">
            <img
              src="../images/favorites.svg"
              alt="Иконка с изображением сердечка для перехода на страницу с избранными товарами пользователя"
            />
          </li>
          <li class="header__list-of-things-item">
            <img
              src="../images/basket.svg"
              alt="Иконка с изображением козины покупателя"
            />
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <div class="main__navigation">
        <span class="main__navigation-item">
          <a href="http://127.0.0.1:5500/client/views/index.html"
            >Главная</a
          ></span
        >
        <span class="main__navigation-item">Контакты</span>
      </div>
      <section class="main__section-feedback">
        <h2 class="main__section-feedback-title">Связаться с нами</h2>
        <ul class="main__section-feedback-list">
          <li class="main__section-feedback-list-item">
            <h3 class="main__section-feedback-list-item-title">
              В социальных сетях
            </h3>
          </li>
          <li class="main__section-feedback-list-item">
            <h3 class="main__section-feedback-list-item-title">По телефону</h3>
            <address class="main__section-feedback-list-item-address">
              <span><a href="tel:++381637107191">+381(063) 710 71 91</a></span>
            </address>
          </li>
          <li class="main__section-feedback-list-item">
            <h3 class="main__section-feedback-list-item-title">По почте</h3>
            <address class="main__section-feedback-list-item-address">
              <span>
                <a href="mailto:example@mail.com">example@mail.com</a></span
              >
            </address>
          </li>
          <li class="main__section-feedback-list-item">
            <h3 class="main__section-feedback-list-item-title">Наш офис</h3>
            <address class="main__section-feedback-list-item-address">
              <p>г. Киев ул. Пушкина, д. 32</p>
            </address>
          </li>
        </ul>
      </section>
      <section class="main__section-subscription">
        <h2 class="main__section-subscription-title">
          Узнайте первым о новинках
        </h2>
        <form class="main__section-subscription-form">
          <label>
            <input
              class="main__section-subscription-form-input"
              type="text"
              placeholder="Ваш e-mail*"
            />
          </label>
          <button class="main__section-subscription-form-buttom" type="submit">
            Подписаться
          </button>
        </form>
        <p class="main__section-subscription-text">
          Нажимая на кнопку «Подписаться», я соглашаюсь на обработку моих <br />
          персональных данных и ознакомлен(а) с условиями конфиденциальности.
        </p>
      </section>
    </main>
    <footer class="footer">
      <section class="footer__section">
        <h2 class="footer__section-title">Компания</h2>
        <ul class="footer__section-list">
          <li class="footer__section-list-item">
            <a href="#">О нас</a>
          </li>
          <li class="footer__section-list-item">
            <a href="http://127.0.0.1:5500/client/views/contacts.html"
              >Контакты</a
            >
          </li>
        </ul>
      </section>
      <section class="footer__section">
        <h2 class="footer__section-title">Полезное</h2>
        <ul class="footer__section-list">
          <li class="footer__section-list-item">
            <a href="#">Оплата и доставка</a>
          </li>
          <li class="footer__section-list-item">
            <a href="http://127.0.0.1:5500/client/views/returns.html">Условия возврата</a>
          </li>
          <li class="footer__section-list-item">
            <a href="#">Бонусная система</a>
          </li>
        </ul>
      </section>
      <section class="footer__section">
        <h2 class="footer__section-title">Покупателю</h2>
        <ul class="footer__section-list">
          <li class="footer__section-list-item">
            <a href="#"> Избранное </a>
          </li>
          <li class="footer__section-list-item">
            <a href="#">Публичная оферта</a>
          </li>
          <li class="footer__section-list-item">
            <a href="#">Политика конфиденциальности</a>
          </li>
        </ul>
      </section>
      <section class="footer__section">
        <h2 class="footer__section-title">Контакты</h2>
        <address>
          <span></span>
          <span>+38(073) 096 36 44</span>
          <span>info@yanki.com</span>
        </address>
      </section>
    </footer>
  </body>
</html>
