<header class="header">
  <nav class="header__navigation-block">
    <button class="header__button">
      <img
        src="../dist/svg/menu-button.svg"
        alt="Кнопка для открытия каталога"
      />
    </button>
    <ul class="header__element header__list-about">
      <li class="header__list-about-item">
        <a href="http://127.0.0.1:5500/client/dist/catalog.html">New</a>
      </li>
      <li class="header__list-about-item">
        <a
          class="header__list-about-item-buttom"
          href="http://127.0.0.1:5500/client/dist/catalog.html"
          >Каталог</a
        >
      </li>
      <li class="header__list-about-item">
        <a
          class="header__list-about-item-buttom"
          href="http://127.0.0.1:5500/client/dist/contacts.html"
          >О нас</a
        >
      </li>
    </ul>
    <h1 class="header__element header__title">Yanki</h1>
    <ul class="header__element header__list-of-tools">
      <li class="header__list-of-tools-item">
        <button class="header__list-of-tools-item-button">
          <span>Ru </span
          ><img
            src="../dist/svg/item.svg"
            alt="Кнопка для переключения языка сайта"
          />
        </button>
      </li>
      <li class="header__list-of-tools-item">
        <button class="header__list-of-tools-item-button">
          <span>Uah</span
          ><img
            src="../dist/svg/item.svg"
            alt="Кнопка для переключения языка сайта"
          />
        </button>
      </li>
    </ul>
    <ul class="header__element header__list-of-thing">
      <li class="header__list-of-things-item">
        <img
          src="../dist/svg/Group-2.svg"
          alt="Изображение иконки поискового поля"
        />
      </li>
      <li class="header__list-of-things-item">
        <img
          src="../dist/svg/search.svg"
          alt="Изображение иконки профиля пользователя в минималистичном стиле"
        />
      </li>
      <li class="header__list-of-things-item">
        <img
          src="../dist/svg/favorites.svg"
          alt="Иконка с изображением сердечка для перехода на страницу с избранными товарами пользователя"
        />
      </li>
      <li class="header__list-of-things-item">
        <img
          src="../dist/svg/basket.svg"
          alt="Иконка с изображением козины покупателя"
        />
      </li>
    </ul>
  </nav>
</header>
