<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="page">
    <main class="payments__main">
      <section class="payments__main-information">
        <div class="payments__main-navigation">
          <span class="payments__main-navigation-item">
            <a href="http://127.0.0.1:5500/client/dist/main.html">Главная</a>
          </span>
          <span class="payments__main-navigation-item">
            Оплата и доставка
          </span>
        </div>
        <h2 class="payments__main-information-title">Оплата и доставка</h2>
        <div class="payments__main-information-block">
          <p>
            Вы можете оплатить покупку одним из ниже перечисленных способов:
          </p>
          <ul class="payments__main-information-block-list">
            <li class="payments__main-information-block-list-item">
              наложенным платежом в отделении Новой Почты;
            </li>
            <li class="payments__main-information-block-list-item">
              денежным переводом Visa/MasterCard;
            </li>
            <li class="payments__main-information-block-list-item">
              полная предоплата через Приват 24.
            </li>
          </ul>
          <p>Мы готовы предложить несколько вариантов доставки:</p>
          <ul class="payments__main-information-block-list">
            <li class="payments__main-information-block-list-item">
              отправка по всей Украине в отделение Новой Почты(1-2 дня);
            </li>
            <li class="payments__main-information-block-list-item">
              международные сервисы доставки для жителей зарубежья: Укрпочта(
              1-3 недели ,DHL(3-7 дней));
            </li>
            <li class="payments__main-information-block-list-item">
              Срок доставки: 1–2 дня с момента заказа.
            </li>
          </ul>
        </div>
        <div class="payments__main-information-liqpay">
          <p>Процесс оформления заказа с помощью LIQPAY:</p>
          <ul class="payments__main-information-liqpay-list">
            <li class="payments__main-information-liqpay-list-item">
              Выбрать в корзине способ оплаты "LIQPAY";
            </li>
            <li class="payments__main-information-liqpay-list-item">
              Подтвердить заказ;
            </li>
            <li class="payments__main-information-liqpay-list-item">
              После этого Вас перенаправит на сайт LIQPAY, где вы выбираете
              удобный для вас способ оплаты: через Приват24, или с помощью карты
              Mastercard/VISA со всего мира.
            </li>
          </ul>
        </div>
      </section>
    </main>
  </body>
</html>
