<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/variables.css" />
    <link rel="stylesheet" href="../styles/catalog.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Магазин одежды YANKI | Каталог</title>
  </head>
  <body class="page">
    <header>
      <div class="header__navigation-block">
        <button class="header__button">кнопка</button>
        <ul class="header__list-about">
          <li class="header__list-about-item">
            <button class="header__list-about-item-buttom">new</button>
          </li>
          <li class="header__list-about-item">
            <button class="header__list-about-item-buttom">
              <a href="http://127.0.0.1:5500/client/views/catalog.html"
                >каталог</a
              >
            </button>
          </li>
          <li class="header__list-about-item">
            <button class="header__list-about-item-buttom">о нас</button>
          </li>
        </ul>
        <h1 class="header__title">yanki</h1>
        <ul class="header__list-of-languages-and-currencies">
          <li class="header__list-of-things-item">ru</li>
          <li class="header__list-of-things-item">uah</li>
        </ul>
        <ul class="header__list-of-things"></ul>
      </div>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
