<!DOCTYPE html>
<html lang="ua">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/global.css" />
    <link rel="stylesheet" href="../styles/variables.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Магазин одежды YANKI</title>
  </head>
  <body class="page">
    <header class="header">
      <div class="header__navigation-block">
        <button class="header__button">кнопка</button>
        <ul class="header__list-about">
          <li class="header__list-about-item">
            <button class="header__list-about-item-buttom">new</button>
          </li>
          <li class="header__list-about-item">
            <button class="header__list-about-item-buttom">каталог</button>
          </li>
          <li class="header__list-about-item">
            <button class="header__list-about-item-buttom">о нас</button>
          </li>
        </ul>
        <h1 class="header__title">yanki</h1>
        <ul class="header__list-of-languages-and-currencies">
          <li class="header__list-of-things-item">ru</li>
          <li class="header__list-of-things-item">uah</li>
        </ul>
        <ul class="header__list-of-things"></ul>
      </div>
      <ul class="header__background-list-of-images">
        <li class="header__background-list-of-images-item">
          <img
            class="header__background-list-of-images-item-image"
            src="../images/Yanki_(51)-1.png"
            alt="#"
          />
        </li>
        <li class="header__background-list-of-images-item">
          <img
            class="header__background-list-of-images-item-image"
            src="../images/Yanki_(51)-2.png"
            alt="#"
          />
        </li>
        <li class="header__background-list-of-images-item">
          <img
            class="header__background-list-of-images-item-image"
            src="../images/Yanki_(51)-3.png"
            alt="#"
          />
        </li>
      </ul>
    </header>
    <main class="main">
      <section class="main__section-category">
        <h2 class="main__section-category-title">Категории</h2>
        <ul class="main__section-list">
          <li class="main__section-list-item">
            <picture>
              <img
                src="../images/Rectangle-11.png"
                alt="Девушка в зимней куртке белого цвета с меховым капюшоном"
              />
            </picture>
          </li>
          <li class="main__section-list-item">
            <picture>
              <img
                src="../images/Rectangle-10.png"
                alt="Девушка в зимнем пальто официального стиля в темно-синем цвете"
              />
            </picture>
          </li>
          <li class="main__section-list-item">
            <picture>
              <img
                src="../images/Rectangle-7.png"
                alt="Девушка в зимнем меховом пальто бежевого цвета"
              />
            </picture>
          </li>
          <li class="main__section-list-item">
            <picture>
              <img
                src="../images/Rectangle-9.png"
                alt="Девушка в зимней куртке серо-синего цвета с меховым капюшоном"
              />
            </picture>
          </li>
        </ul>
      </section>
      <section class="main__section-subscription">
        <h2 class="main__section-subscription-title">
          Узнайте первым о новинках
        </h2>
        <form class="main__section-subscription-form">
          <label>
            <input
              class="main__section-subscription-form-input"
              type="text"
              placeholder="Ваш e-mail*"
            />
          </label>
          <button class="main__section-subscription-form-buttom" type="submit">
            Подписаться
          </button>
        </form>
        <p class="main__section-subscription-text">
          Нажимая на кнопку «Подписаться», я соглашаюсь на обработку моих <br />
          персональных данных и ознакомлен(а) с условиями конфиденциальности.
        </p>
      </section>
    </main>
    <footer class="footer">
      <section class="footer__section">
        <h2>Компания</h2>
        <ul>
          <li>О нас</li>
          <li>Контакты</li>
        </ul>
      </section>
      <section class="footer__section">
        <h2>Полезное</h2>
        <ul>
          <li>Оплата и доставка</li>
          <li>Условия возврата</li>
          <li>Бонусная система</li>
        </ul>
      </section>
      <section class="footer__section">
        <h2>Покупателю</h2>
        <ul>
          <li>Избранное</li>
          <li>Публичная оферта</li>
          <li>Политика конфиденциальности</li>
        </ul>
      </section>
      <section class="footer__section">
        <h2>Контакты</h2>
        <ul>
          <li>+38(073) 096 36 44</li>
          <li>Контакты</li>
          <li>info@yanki.com</li>
        </ul>
      </section>
    </footer>
  </body>
</html>
