/* 
---------------------------------------------------------------
                      Стили для страницы контактов
                          (Contacts Page)
---------------------------------------------------------------
*/
.page {
  color: var(--text-second-color);
}
/* 
  ---------------------------------------------------------------
                      Стили для блока main
  ---------------------------------------------------------------
*/

/* Общие стили для блока main */

.main {
}

.main__navigation {
  display: flex;
  gap: 30px;
}

/* Стили для секции main__section-feedback */

.main__section-feedback {
  padding-block-start: 30px;
}

.main__section-feedback-title {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
}

.main__section-feedback-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-block-start: 30px;
  gap: 7.8vw;
}

.main__section-feedback-list-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.main__section-feedback-list-item-title {
  font-size: 16px;
}

.main__section-feedback-list-item-address {
  font-style: normal;
}

/* Стили для секции main__section-subscription */

.main__section-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: 143px;
  text-align: center;
  color: var(--text-second-color);
}

.main__section-subscription-title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-block-end: 47px;
}

.main__section-subscription-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-end: 24px;
}

.main__section-subscription-form-input {
  inline-size: 600px;
  block-size: 50px;
}

.main__section-subscription-form-input::placeholder {
  font-size: 16px;
  text-align: center;
  line-height: 19px;
}

.main__section-subscription-form-input:focus {
  outline: none;
}

.main__section-subscription-form-buttom {
  inline-size: 600px;
  block-size: 50px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 19px;
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 16px 81px 17px 81px;
}

.main__section-subscription-form-buttom:hover {
  box-shadow: var(--box-shadow);
}

.main__section-subscription-text {
  color: var(--text-second-color);
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}