/* 
---------------------------------------------------------------
                      Стили для страницы "Контакты"
                            
---------------------------------------------------------------
*/
/* 
  ---------------------------------------------------------------
                      Стили для блока main
  ---------------------------------------------------------------
*/

/* Общие стили для блока main */

.contacts__main {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.contacts__main-navigation {
  display: flex;
  gap: 30px;
}

/* Стили для секции main__section-feedback */

.contacts__main-feedback {
  display: flex;
  flex-direction: column;
  padding-block-start: 30px;
  padding-inline-start: 120px;
  padding-inline-end: 120px;
  padding-block-start: 30px;

  &-title {
    font-size: clamp(1.125rem, 1.0893rem + 0.1786vw, 1.25rem);
    font-weight: 300;
    line-height: 23px;
    padding-block-start: 27px;
  }
}

.contacts__main-feedback-list {
  display: flex;
  padding-block-start: 30px;
  justify-content: space-around;

  &-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;

    &-title {
      font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
    }
  }
}

.main__section-feedback-list-item-address {
  font-style: normal;
}

@media (width <= 765px) {
}
