/* 
---------------------------------------------------------------
                      Стили для страницы "Контакты"
                            
---------------------------------------------------------------
*/
// .page {
//   color: var(--text-second-color);
// }

/* 
  ---------------------------------------------------------------
                      Стили для блока main
  ---------------------------------------------------------------
*/

/* Общие стили для блока main */

.main {
}

.main__navigation {
  display: flex;
  gap: 30px;
}

/* Стили для секции main__section-feedback */

.main__section-feedback {
  padding-block-start: 30px;
}

.main__section-feedback-title {
  font-size: 20px;
  font-weight: 300;
  line-height: 23px;
}

.main__section-feedback-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-block-start: 30px;
  gap: 7.8vw;
}

.main__section-feedback-list-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}

.main__section-feedback-list-item-title {
  font-size: 16px;
}

.main__section-feedback-list-item-address {
  font-style: normal;
}

// Стили для секции main__section-subscription
