/* 
---------------------------------------------------------------
                    Глобильные стили проекта
---------------------------------------------------------------
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 280px;
  margin: 0 auto;
}

.page {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

// Стили для блока header

.header__navigation-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 120px 0 120px;
  line-height: 21px;
  text-transform: uppercase;
}

.header__button:hover {
  opacity: 0.5;
}

.header__list-about {
  display: flex;
  gap: 1.575rem;
  font-size: 18px;
}

.header__list-about-item-buttom {
  text-transform: uppercase;
}
.header__list-about-item-buttom:hover {
  opacity: 0.5;
}

.header__list-about-item-buttom:active {
  opacity: 0.7;
}

.header__title {
  text-align: center;
  padding-inline-start: 4%;
  font-size: clamp(1.875rem, 1.5666rem + 1.7316vw, 3.125rem);
  letter-spacing: 4px;
}

.header__list-of-tools {
  display: flex;
  gap: 27px;
}

.header__list-of-tools-item-button {
  display: flex;
  line-height: 21px;
  font-size: 18px;
  text-transform: uppercase;
}

.header__list-of-things {
  display: flex;
  gap: 30px;
  font-size: 18px;
}

.header__list-of-things-item {
  display: flex;
  flex-direction: row;
}

.header__list-of-things-item:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  opacity: 0.5;
}

// Стили для блока main

.main {
  padding: 30px 120px 0 120px;

  &-navigation {
    display: flex;
    gap: 30px;
  }

  &__title {
    font-size: clamp(1.25rem, 1.1786rem + 0.3571vw, 1.5rem);
    font-weight: 300;
    line-height: 23px;
    padding-block-start: 27px;
  }
}

//  Стили для блока footer

.footer {
  display: flex;
  gap: 46px;
  justify-content: space-between;
  padding: 94px 120px 71px 120px;

  // Стили для блока footer__section
  &__section {
    inline-size: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
      text-transform: uppercase;
      line-height: 23px;
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-item:hover {
        opacity: 0.5;
      }
    }
  }
}

.address {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__socials {
    display: flex;
    gap: 15px;
  }
}
