/* 
---------------------------------------------------------------
                      Стили для страницы главной страницы 
                                (Main Page)
---------------------------------------------------------------
*/
/* 
---------------------------------------------------------------
                          Стили для блока header
                                (Main Page)
---------------------------------------------------------------
*/

// Общие стили для блока header

.header {
  display: flex;
  flex-direction: column;
}

.navigation-main-page {
  color: var(--text-color);
}

.header__main-page {
  background-image: url("../dist/images/background-image.png");
  background-size: 100vw auto;
  background-position: center top;
  background-repeat: no-repeat;
  aspect-ratio: 3 / 2;
}

.header__list-of-tools {
  display: flex;
  gap: 27px;

  &-item-button {
    display: flex;
    line-height: 21px;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.popup-mobile {
  display: none;
}

.popup-mobile_show {
  display: flex;
  z-index: 1;
}

.header__collection-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  color: var(--text-color);
  margin: auto 0;

  &-title {
    font-size: clamp(2rem, 1.75rem + 1.25vw, 2.875rem);
    font-weight: 300;
    line-height: 54px;
  }

  &-line {
    display: block;
    height: 1px;
    width: 120px;
    background-color: var(--text-color);
  }
  &-link {
    padding-block-start: 5px;
    padding-inline-start: 15px;
    line-height: 19px;
    text-transform: uppercase;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.7;
    }
  }
}

/* 
  ---------------------------------------------------------------
                        Стили для блока main
                    (основная страница магазина)
  ---------------------------------------------------------------
*/

// Общие стили для блока main

.main__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Стили для секции main__section-category

.main__page-category {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-block-start: 100px;
}
.main__page-category-title {
  font-size: clamp(1.5rem, 1.2359rem + 1.1268vw, 2.25rem);
  line-height: 42px;
  letter-spacing: 0%;
  color: var(--text-second-color);
}

.main__page-category-list {
  display: flex;
  gap: 15px;

  &-item {
    position: relative;
    transition: transform 0.4s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      opacity: 0.7;
    }

    &-title {
      inline-size: 100%;
      position: absolute;
      bottom: 0.7%;
      color: var(--text-color);
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      background-color: var(--background-color);
      padding-block-start: 8px;
      padding-block-end: 5px;
    }

    &-image {
      max-width: 100%;
      height: auto;
    }
  }
}

// Стили для секции main__section-subscription
.main__page-subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 100px;
  text-align: center;
  color: var(--text-second-color);
}

.main__page-subscription-title {
  font-size: clamp(1.25rem, 0.9683rem + 1.4085vw, 2.25rem);
  line-height: 42px;
  letter-spacing: 1px;
  padding-block-end: 47px;
}

.form__subscription {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  gap: 20px;
  padding-block-end: 24px;

  &-input {
    inline-size: 100%;
    block-size: 50px;

    &::placeholder {
      font-size: 16px;
      text-align: center;
      line-height: 19px;
      opacity: 0.5;
    }
    &:focus {
      outline: none;
    }
  }
  &-button {
    inline-size: 100%;
    block-size: 50px;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 19px;
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 16px 81px 17px 81px;

    &:hover {
      box-shadow: var(--box-shadow);
    }
  }
  &-text {
    color: var(--text-second-color);
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
  }
}
