/* 
------------------------------------------------------------------------
                         Медиазапросы для проекта 
                                    ||
                       Media queries for the project
------------------------------------------------------------------------
*/

// Медиазапросы для блока header

@media (width <= 1210px) {
  .header__navigation-block {
    padding: 33px 90px 0 90px;
    justify-content: space-between;
  }
  .header__list-about {
    display: none;
  }
  .header__title {
    padding-inline-start: 20%;
  }
  .header__list-of-tools {
    display: none;
  }
}

@media (width <= 900px) {
  .header__navigation-block {
    padding-inline-start: 60px;
    padding-inline-end: 60px;
  }

  .header__title {
    padding-inline-start: 9%;
  }

  .header__list-of-things-item:nth-child(1) {
    display: none;
  }

  .header__list-of-things-item:nth-child(2) {
    display: none;
  }
}

@media (width <= 575px) {
  .header__navigation-block {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .header__list-of-things {
    gap: 18px;
  }
}

// Медиазапросы для блока main

@media (width <= 1210px) {
  .main {
    padding-inline-start: 90px;
    padding-inline-end: 90px;
  }
}

@media (width <= 900px) {
  .main {
    padding-inline-start: 60px;
    padding-inline-end: 60px;
  }
}

@media (width <= 575px) {
  .main {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }
}

// Медиазапросы для блока footer

@media (width <= 950px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  .footer__section-title {
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }

  .footer__section-list {
    display: none;
  }

  .footer__section-list_show {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &-item:hover {
      opacity: 0.5;
    }
  }

  .address__socials {
    justify-content: center;
  }
}

/* 
------------------------------------------------------------------------
                         Медиазапросы для страницы main
                                      ||
                         Media queries for the main page
------------------------------------------------------------------------
*/

// Медиазапросы для блока header

@media (width <= 568px) {
  .header__main-page {
    background-image: url("../dist/images/mobile-background-image.png");
    background-size: 100vw auto;
    background-position: center top;
    background-repeat: no-repeat;
    aspect-ratio: 3 / 5;
  }
}

// Медиазапросы для блока main

@media (width <= 568px) {
  .main__section-category-list {
    overflow-y: scroll;
  }
  .main__section-category-list-item {
    min-width: calc(50% - 10px);
  }
}

/* 
------------------------------------------------------------------------
                         Медиазапросы для страницы payments
                                          ||
                         Media queries for the payments page
------------------------------------------------------------------------
*/

// Медиазапросы для блока main

@media (width <= 950px) {
  .payments__main-information-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .payments__main-information-liqpay-list {
    flex-direction: column;
    gap: 15px;
  }
}

/* 
------------------------------------------------------------------------
                         Медиазапросы для страницы catalog
                                        ||
                         Media queries for the catalog page
------------------------------------------------------------------------
*/

// Медиазапросы для блока main

@media (width <= 900px) {
  .catalog__main-content
    .catalog__main-category-items
    .catalog__cloth-options-list {
    display: none;
  }

  .catalog__main-content
    .catalog__main-category-items
    .catalog__cloth-options-list-adaptive {
    display: block;
  }

  .catalog__main-content
    .catalog__main-category-items
    .catalog__cloth
    .catalog__cloth-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding-block-start: 14px;
  }
}

@media (width <= 765px) {
  .catalog__main-content {
    margin: 0 20px;
  }

  .catalog__main-content
    .catalog__main-category-items
    .catalog__category-block {
    display: none;
  }

  .catalog__main-content .catalog__main-category-items {
    gap: 0;
  }

  .catalog__main-content .catalog__main-category-items .catalog__cloth-button {
    display: block;
    inline-size: 100%;
    block-size: 40px;
    margin-block-end: 15px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    line-height: 19px;
    background-color: var(--accent-color);
    color: var(--text-color);
  }

  .catalog__main-content
    .catalog__main-category-items
    .catalog__cloth
    .catalog__cloth-list-item
    .catalog__cloth-card {
    inline-size: auto;
  }
}

/* 
------------------------------------------------------------------------
                         Медиазапросы для страницы returns
                                      ||
                         Media queries for the returns page
------------------------------------------------------------------------
*/

// Медиазапросы для блока main

@media (width <= 950px) {
  .main__returns-information-list {
    display: flex;
    flex-direction: column;
  }
}

/* 
------------------------------------------------------------------------
                         Медиазапросы для страницы contacts
                                      ||
                         Media queries for the contacts page
------------------------------------------------------------------------
*/

// Медиазапросы для блока main

@media (width <= 900px) {
  .contacts__main-feedback-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .contacts__main-feedback-list-item {
    justify-self: start;
  }
}

/* 
------------------------------------------------------------------------
                         Медиазапросы для страницы profile
                                      ||
                         Media queries for the profile page
------------------------------------------------------------------------
*/

/* 
------------------------------------------------------------------------
                         Медиазапросы для страницы authorization
                                      ||
                         Media queries for the authorization page
------------------------------------------------------------------------
*/

/* 
------------------------------------------------------------------------
                         Медиазапросы для страницы favorites
                                      ||
                         Media queries for the favorites page
------------------------------------------------------------------------
*/

// Медиазапросы для блока main
@media (width <= 568px) {
  .favorites__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
