/* 
---------------------------------------------------------------
                      Медиа-запросы для проекта 
---------------------------------------------------------------
*/

// Медиазапросы для блока header

@media (max-width: 1210px) {
  .header__main-page .header__navigation-block {
    justify-content: space-around;
  }
  .header__main-page .header__navigation-block .header__list-about {
    display: none;
  }
  .header__main-page .header__navigation-block .header__title {
    padding-inline-start: 14%;
  }
  .header__main-page .header__navigation-block .header__list-of-tools {
    display: none;
  }
}

@media (width <= 900px) {
  .header__main-page
    .header__navigation-block
    .header__list-of-things-item:nth-child(1) {
    display: none;
  }

  .header__main-page
    .header__navigation-block
    .header__list-of-things-item:nth-child(2) {
    display: none;
  }
}

@media (width <= 375px) {
}

// Медиа-запросы для блока footer

@media (max-width: 950px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  .footer__section-title {
    text-align: center;
  }

  .footer__section-list {
    display: none;
  }

  .footer__section-list_show {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &-item:hover {
      opacity: 0.5;
    }
  }
}
