/* 
---------------------------------------------------------------
                          Стили для блока main
                            (Payments Page)
---------------------------------------------------------------
*/

.payments__main {
  display: flex;
  flex-direction: column;
  min-block-size: 80vh;
  align-items: center;
  margin-block-start: 30px;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);

  &-information {
    .payments__main-navigation {
      display: flex;
      gap: 10px;
      padding-block-start: 30px;
    }

    &-title {
      margin-block-start: 27px;
      font-size: clamp(1.125rem, 1.081rem + 0.1878vw, 1.25rem);
      line-height: 23px;
    }

    &-block {
      display: grid;
      grid-template-columns: repeat(2, minmax(350px, 550px));
      gap: 40px;
      margin-block-start: 16px;

      &-text {
        margin-block-end: 10px;
      }

      &-list {
        line-height: 20px;
        // list-style: inherit;

        &-item {
          position: relative;

          &::before {
            position: absolute;
            content: "•";
          }

          p {
            padding-inline-start: 10px;
          }
        }
      }
    }

    &-liqpay {
      margin-block-start: 20px;

      &-list {
        display: flex;
        justify-content: space-around;
        margin-block-start: 25px;

        &-item {
          display: flex;
          gap: 15px;
          max-inline-size: 490px;
          margin-block-end: 5px;
          align-items: center;
        }
      }
    }
  }
}

// Медиазапросы для блока main (payments page)

@media (width <= 950px) {
  .payments__main-information-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .payments__main-information-liqpay-list {
    flex-direction: column;
    gap: 15px;
  }

  // необходимо исправить фреймы изображений пунктов меню оплаты

  // .frame-mage {
  //   inline-size: 35px;
  //   block-size: 39px;
  // }
}
