/* 
---------------------------------------------------------------
                      Стили для страницы возвратов  
                            (Returns Page)
---------------------------------------------------------------
*/
/* 
---------------------------------------------------------------
                    Стили для блока header
---------------------------------------------------------------
*/

/* Медиазапросы для блока header */

@media (width <= 1439px) {
  .header__navigation-block {
    justify-content: flex-end;
  }

  .header__button {
    grid-template-columns: span 2;
  }

  .header__list-about {
    display: none;
  }

  .header__element:nth-child(3) {
    padding-inline-start: 30%;
    /* padding-inline-start: 7.7rem; */
  }
}

@media (width <= 768px) {
}

@media (width <= 375px) {
}

/* 
---------------------------------------------------------------
                    Стили для блока main
---------------------------------------------------------------
*/

/* Общие стили для блока main */

.main {
  padding-block-start: 35px;
  padding-inline-start: clamp(4.688rem, 18.029vw - 6.851rem, 9.375rem);
  padding-inline-end: clamp(4.688rem, 18.029vw - 6.851rem, 9.375rem);
}

.main__navigation {
  display: flex;
  gap: 30px;
}

.main__returns-information {
  padding-block-start: 30px;
}

.main__returns-information-title {
  font-size: 20px;
}

.main__returns-information-text:nth-child(2) {
  padding-block-start: 19px;
}

.main__returns-information-text:nth-child(3) {
  padding-block-start: 10px;
}

.main__returns-information-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-block-start: 20px;
}

.main__returns-information-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* 
---------------------------------------------------------------
                    Стили для блока footer
---------------------------------------------------------------
*/

/* Общие стили для блока footer */

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.26vw;
  padding: 99px clamp(4.688rem, 18.029vw - 6.851rem, 9.375rem) 74px
    clamp(4.688rem, 18.029vw - 6.851rem, 9.375rem);
}

/* Общие стили для блока footer */

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__section-title {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 23px;
}

.footer__section-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__section-list-item:hover {
  opacity: 0.5;
}

/* Медиазапросы для блока footer */

@media (width <= 768px) {
}

@media (width <= 375px) {
}

/* Медиазапросы для блока main */

@media (width <= 768px) {
}

@media (width <= 375px) {
}
