/* 
---------------------------------------------------------------
                      Стили для страницы возвратов  
                            (Returns Page)
---------------------------------------------------------------
*/
/* 
  ---------------------------------------------------------------
                      Стили для блока main
  ---------------------------------------------------------------
*/

/* Общие стили для блока main */

.main {
}

.main__navigation {
  display: flex;
  gap: 30px;
}

.main__returns-information {
  padding-block-start: 30px;
}

.main__returns-information-title {
  font-size: 20px;
}

.main__returns-information-text:nth-child(2) {
  padding-block-start: 19px;
}

.main__returns-information-text:nth-child(3) {
  padding-block-start: 10px;
}

.main__returns-information-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-block-start: 20px;
}

.main__returns-information-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
